.title1{
	font-size: 20px;
	font-family: '微软雅黑'；
	font-weight:none;
	color:#686868;
}
.title2{
	font-size:12px;
	font-family: Arial；
	font-weight:none;
	color:#a9a8a8;
	}
p{
	text-indent: 2em;
}
.blue{
	color:#22a3d3;
	}
