body
	{
		font-size: 12px;
		color: gray;
		font-family: Arial;
		line-height: 2em;
	}
a	
	{
		color: #727272;
		text-decoration: none;	
	}
a:hover
	{
		text-decoration: underline;
	}
.b{
	font-weight: bolder;
	font-size: 14px;
	color: #b9f605;
	}
.m{color: white;}
.b:hover{
	color: #b9f605;
	text-decoration: none;
	font-size: normal;
	}
#c{
	color: #fdb306;
	font-size: 14px;
	}
#c:hover{
	color: #b9f605;
	text-decoration: none;
}